<section class="hero-section">
    <div class="container-fluid">
        <div class="row g-3">
            <div class="col-lg-6 col-12 d-flex flex-column justify-content-center align-items-center">
                <img src="../../../assets/images/google-deepmind-pyET8SQTc0A-unsplash.jpg" 
                    alt="twitter-image" style="max-height: 600px; width: 80%;">
            </div>
            <div class="col-lg-6 col-12">
                <div class="d-flex flex-column gap-3 h-100 justify-content-center">
                    <h1 class="fs-1 fw-bold text-center text-lg-start">Chat Bot Application</h1>
                    <p class="fs-5 lh-1 text-center text-lg-start">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat saepe, nobis laboriosam tenetur et nesciunt porro perferendis quo similique, voluptatem nemo, impedit laborum. Id, repudiandae dolorem assumenda voluptates at commodi.</p>    
                     
                    <form>
                        <h3 class="fs-5">Choose Model type</h3>
                        <div class="container-fluid">
                            <div class="row g-3">
                                <div class="col-12 col-md-6">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="modelType" id="ragModel" value="RAG" checked>
                                        <label class="form-check-label" for="ragModel">
                                          RAG
                                        </label>
                                      </div>
                                      <div class="form-check">
                                        <input class="form-check-input" type="radio" name="modelType" id="finetunedModel" value="Finetuned">
                                        <label class="form-check-label" for="finetunedModel">
                                          Finetuned
                                        </label>
                                      </div>
                                </div>
                                <div class="col-12 col-md-6">
                                    <div class="mt-3 w-100">
                                        <a href="/chat" class="chat-button" (click)="onStartChat($event)">Start Chat!</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form> 
                </div>
            </div>
        </div>
    </div>
</section>

<section class="project-overview">
    <!--Okey, the idea here will be to have an image in one -->
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-12">
                <div class="h-100 d-flex flex-column justify-content-center gap-3">
                    <h3 class="fs-2">Education ChatBot</h3>
                    <p class="text-body-secondary fs-4">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis cumque distinctio sed, et eveniet voluptatibus dolores illum, saepe vero suscipit sunt quasi temporibus deleniti sequi cupiditate esse delectus atque pariatur?</p>
                </div>
            </div>
            <div class="col-lg-6 col-12 d-flex flex-column align-items-center">
                <img src="../../../assets/images/dan-dimmock-sNwnjxm8eTY-unsplash.jpg" 
                alt="chatbot-image" style="max-height: 600px; width: 80%;">
            </div>
        </div>
    </div>
</section>